<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        xmlns:tools="http://schemas.android.com/tools"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.BillDetails"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Categories"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.History"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Pay"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.ProductDetail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.User"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragment.Cart"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragment.Search"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fragment.Home"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.loading"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UpdateProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.UpdatePassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Register"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity.Login"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>